.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  text-align: center;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card p {
  font-size: 28px;
  font-weight: bold;
  color: #0d6efd;
}

.card.full {
  grid-column: span 2;
}
/* =========================
   IMAGE & AVATAR
========================= */

.logo {
  height: 60px;
}

.avatar-guru {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #1e3a8a;
}

.avatar-siswa {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.default-avatar {
  opacity: 0.6;
}
